div {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: aquamarine;
    margin-top: 1.5em;
    padding: 2em 0;
}

.btn {
    margin-left: 25%;
    margin-top: 1em;
    width: 50%;
    padding: 1em;
}

.resetbtn {
    margin-left: 25%;
    margin-top: 2em;
    width: 50%;
    padding: 1em;
    background-color: darkred;
    color: white;
}

.h1, .text {
    text-align: center;
}

.text {
    margin-top: 2em;
    font-weight: bold;
}

.h1 {
    margin-top: 2em;
}

span {
    margin-left: 25%;
    margin-top: 1em;
    width: 50%;
    font-weight: bold;
}

body {
    background-color:darkslateblue;
}